.advantages {
    background-color: #f6f6f6;
    min-height: 469px;
    &__header {
        padding-top: 69px;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        }
    &__icons {
            padding-top: 69px;
            display: flex;
            justify-content: space-between;
        }
    &__icon img {
            display: block;
            margin: 0 auto;
    }
    &__icon {
        width: 260px;
        &__header {
            font-weight: 700;              
            font-size: 18px;
            text-align: center;
            }
        &__descr a {
            text-transform: uppercase;
            color: $main-color;
            }
        &__descr {
            text-align: center;
            }
        }
    }  