@media (max-width: 1024px) {
    .promo {
        &__wrapper {
            align-items: center; 
        }
    }
    .advantages {
        &__icon {
            &__descr {
                font-size: 14px;
            }
        }
    }
    .feed-form {
        padding-left: 50px;    
    }
    .title.title {
        &_left {
            padding-left: 50px;
            font-size: 20px;
        }
    }
    .consultation {
        &__descr {
            font-size: 10px;
            padding-left: 50px;
            
        }
    }
}
@media (max-width: 768px) {
    .header { 
        &__phone {
            font-size: 15px;
        }
        &__logo img {
            width: 80%;
        }
    }
    .promo {
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 375px;
        }
    }
    .advantages__icons {
        flex-direction: column;
        align-items: center;   
    }
}
@media (max-width: 320px) {
    .promo {
        &__icons {
            width: 300px;
        }
    }
    .header__phone {
        display: none;
    }
    .button {
        width: 80px;
        height: 50px;
    }
    .button_main {
        width: 300px;
        height: 50px;
    }
    div.consultation {
        &__descr {
            font-size: 15px;
        }
    }
    .button.button {
        &_submit {
            font-size: 8px;
        }
    }
}
